.card {
  width: 500px;
  height: 300px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-size: cover;
}

.card:hover {
  transform: scale(1.06);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}


.card__description {
  margin: 10px 0 0;
  font-size: 18px;
  color: #777;
  line-height: 1.4;
}

.buttondiv{
  display: flex;
  gap: 50px;
}

.cssbuttons-io {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  overflow: hidden;
}

.cssbuttons-io.light {
  background: linear-gradient(to right, #ff00b4, #53009c);
  color: rgb(43, 0, 74);
}

.cssbuttons-io.dark {
  background: linear-gradient(to right, #ff00b3, #ffff31);
  color: #ff703c;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io.light::before {
  background: #ad88c6;
}

.cssbuttons-io.dark::before {
  background: #2b004a;
}


.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io.light:hover {
  color: white;
}

.cssbuttons-io.dark:hover {
  color: rgb(0, 0, 0);
}

@media(max-width:1440px){
  .card{
    width: 410px;
    height: 300px;
  }
}
